<form [formGroup]="myForm" (ngSubmit)="funSubmit()">
  <div class="p-20">
    <div class="mt-10">
      <tus-input
        [readonly]="false"
        [isSkeletonLoading]="false"
        placeholder="Write placeholderhere"
        label="Write label here"
        [mandatory]="true"
        [control]="myForm.get('name')"
      />
    </div>

    <div class="mt-3">
      <tus-select
        [isDisabled]="false"
        [data]="selectData"
        [isReadOnly]="false"
        labelText="Select Lable"
        [height]="'h-12'"
        [mandatory]="true"
        [setValue]="setSelect"
        [isSkeletonLoading]="false"
      />
    </div>

    <div class="mt-3">
      <tus-check-box
        [isSkeletonLoading]="false"
        label="Check Box Label"
        [readonly]="false"
        [isJustify]="true"
        [labelPlaceRight]="false"
      />
    </div>

    <div class="mt-3">
      <tus-custom-date-picker
        labelText="Custom Date Picker"
        [dateRange]="false"
        [startDate]="startDate"
        [endDate]="endDate"
        [maxDate]="maxDate"
        (setDate)="setDate($event)"
        [isSkeletonLoading]="false"
      />
    </div>
    <div class="mt-3">
      <tus-custom-date-picker
        labelText="Custom Date Picker with Range"
        [dateRange]="true"
        [startDate]="startDate"
        [endDate]="endDate"
        [maxDate]="maxDate"
        (setDate)="setDate($event)"
        [isSkeletonLoading]="false"
      />
    </div>

    <div class="mt-3">
      <tus-date-picker
        labelText="Date Picker"
        [dateRange]="false"
        [startDate]="startDate"
        [endDate]="endDate"
        [maxDate]="maxDate"
        (setDate)="setDate($event)"
        [isSkeletonLoading]="false"
      />
    </div>
    <div class="mt-3">
      <tus-date-picker
        labelText="Date Picker with Range"
        [dateRange]="true"
        [startDate]="startDate"
        [endDate]="endDate"
        [maxDate]="maxDate"
        (setDate)="setDate($event)"
        [isSkeletonLoading]="false"
      />
    </div>

    <div class="mt-3">
      <tus-phone-number
        [defaultDialCode]="dialCode"
        label="Mobile"
        [readonly]="false"
        [isSkeletonLoading]="false"
        [mandatory]="false"
        [isLoading]="false"
        placeholder="Mobile Number"
        (setDialCide)="setDialCode($event)"
      />
    </div>

    <div class="mt-3">
      <tus-table
        [data]="tableData"
        [header]="header"
        tableHeading="Diagnosis"
        [isSkeletonLoading]="false"
        [dataViewShow]="true"
        [dataHeader]="header"
      />
    </div>

    <div class="mt-3">
      <tus-text-area
        [readonly]="false"
        placeholder="Placeholder"
        type="text"
        label="Text Area Notes"
      >
      </tus-text-area>
    </div>

    <div class="mt-3">
      <tus-button
        title="Button Title Here"
        [isWidth]="'lg:w-56'"
        [isLoading]="false"
        [isSkeletonLoading]="false"
      />
    </div>
  </div>
</form>

<router-outlet />
